.bd-callout-error {
    border-left-color: #e02020 !important;
}

.deep-purple.accent-2 {
    background-color: rgb(66, 165, 245)!important;
}
  
.contact-containter{
    margin-bottom: 10.7rem !important;
}

.text-layout{
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
}

.bd-callout-succes {
    border-left-color: #6ece82 !important;
}
.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
    box-shadow: 0 0px 8px 0 rgba(0,0,0,0.12),0 3px 4px 0 var(--black-14),0 3px 3px -2px rgba(0,0,0,0.2);
    background-color: #f1f1f1;
}
.icon-notificacion{
    width: 50px;
    height: 50px;
}
.row-footer{
    margin-right: 10%;
}

.color-black{
    color: #000;
}
.icon-git{
    width:40px;
    height:40px;
}
.icon-git-xs{
    width: 24px;
    height: 22px;
    margin-left: 10px;
    margin-bottom: 3px;
}
.card-pokedex{
    height: 326px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card-restaurante{
    height: 352px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card-bebidas{
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card-cripto{
    height: 352px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-pokedex{
    background-color: #f57c00;
    border-radius: 3.25rem;
}
.icon-cripto{
    background-color: #ec407a ;
    border-radius: 3.25rem;
}
.icon-restaurante{
    background-color: #00c851 ;
    border-radius: 3.25rem;
}
.icon-bebidas{
    background-color: #a6c ;
    border-radius: 3.25rem;
}
.img-perfil{
    height: 11rem;
    width: 7rem;
}
  
@media (min-width:320px) and (max-width:540px){

    .card-pokedex {
        height: auto;
    }
    .card-bebidas{
        height: auto;
    }
    .card-cripto{
        height: auto;
    }
    .card-restaurante{
        height: auto;
    }
    .icon-pokedex{
        background-color: #f57c00;
        border-radius: 3.25rem;
    }
    .icon-cripto{
        background-color: #ec407a ;
        border-radius: 3.25rem;
    }
    .icon-restaurante{
        background-color: #00c851 ;
        border-radius: 3.25rem;
    }
    .icon-bebidas{
        background-color: #a6c ;
        border-radius: 3.25rem;
    }
    .icon-footer-linkedin{
        display: flex;
        justify-content: center;
    }
    .icon-footer-git{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
}
  
@media (min-width:540px){
    .card-pokedex {
        height: auto;
    }
    .card-bebidas{
        height: auto;
    }
    .card-cripto{
        height: auto;
    }
    .card-restaurante{
        height: auto;
    }
    .icon-pokedex{
        background-color: #f57c00;
        border-radius: 3.25rem;
    }
    .icon-cripto{
        background-color: #ec407a ;
        border-radius: 3.25rem;
    }
    .icon-restaurante{
        background-color: #00c851 ;
        border-radius: 3.25rem;
    }
    .icon-bebidas{
        background-color: #a6c ;
        border-radius: 3.25rem;
    }
}