.App {
  text-align: center;
}
.row-footer{
  margin-right: 10%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.color-black{
  color: #000;
}
.icon-git{
  width:40px;
  height:40px;
}
.card-pokedex{
  height: 326px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-restaurante{
  height: 352px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-bebidas{
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-cripto{
  height: 352px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
